<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>
    <title>userInfo</title>
</head>

<body>

<h2>User Info</h2>

<form th:method="POST" th:action="@{/}" th:object="${user}">
    <label for="Name">Enter Name</label>
    <input type="text" th:field="*{name}" id="Name"/>
    <br/>
    <label for="Last Name">Enter Last Name</label>
    <input type="text" th:field="*{lastName}" id="Last Name"/>
    <br/>
    <label for="Email">Enter Email</label>
    <input type="text" th:field="*{email}" id="Email"/>
    <br/>
    <br/>
    <input type="submit" value="Create new user"/>
</form>

</body>
</html>